{% extends 'admin/base.html' %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'admin/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'admin/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'admin/img/site.webmanifest' %}">
{% endblock %}